@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    outline: 1px solid red;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#app {
    height: 100vh;
    display: flex;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
}

.my_slider-container {
    position: relative;
    width: 760px;
    height: 450px;
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    overflow: hidden;
}

.my_slider-container::before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
}