* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {} */

#app {
    height: 100vh;
    display: flex;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
}