@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;

}

#app {
    height: 100vh;
    display: flex;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
}